@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-black);
}
body{
    height: 100vh;
    background: var(--clr-gray);

}
header{
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}
ul{
    list-style-type: none;
}
.logo{
    width: 10%;
    height: 10vh;
    object-fit: contain;
}
button{
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: .5rem;
    border-radius: 100vmax;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgb(0, 0, 0, .25);
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgb(0, 0, 0, .25) ;
    transition: 0.2s;
}
main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}
.pokemon-imagen img{
    width: 100%;
    max-width: 10rem;
}
.pokemon-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}
.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    text-align: center;
    align-items: center;
}
.pokemon-contenedor{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon-id{
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 100vmax;
}
.pokemon-nombre{
    font-size: 1.4rem;
}
.pokemon-tipos{
    display: flex;
    gap: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}
.tipo{
    padding: .25rem .5rem;
    border-radius: 100vmax;
}
.pokemon-stats{
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}
.stat{
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}
.todos__pokemon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.pokemon{
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 2rem -1rem rgb(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.pokemon-id-back{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    color: var(--clr-gray);
    z-index: -1;
}
.boton__header{
    background-color: var(--clr-gray);
}
.boton__header__normal{
    background: var(--type-normal);
}
.boton__header__fire{
    background: var(--type-fire);
}
.boton__header__fighting{
    background: var(--type-fighting);
}
.boton__header__flying{
    background: var(--type-flying);
}
.boton__header__poison{
    background: var(--type-poison);
}
.boton__header__ground{
    background: var(--type-ground);
}
.boton__header__rock{
    background: var(--type-rock);
}
.boton__header__bug{
    background: var(--type-bug);
}
.boton__header__ghost{
    background: var(--type-ghost);
}
.boton__header__steel{
    background: var(--type-steel);
}
.boton__header__water{
    background: var(--type-water);
}
.boton__header__grass{
    background: var(--type-grass);
}
.boton__header__electric{
    background: var(--type-electric);
}
.boton__header__psychic{
    background: var(--type-psychic);
}
.boton__header__ice{
    background: var(--type-ice);
}
.boton__header__dragon{
    background: var(--type-dragon);
}
.boton__header__dark{
    background: var(--type-dark);
}
.boton__header__fairy{
    background: var(--type-fairy);
}
